
testNMR/Lorenztianxxx.swift
testNMR/CFFTxx.swift
testNMR/Levenberg Marquardtxxx.swift
testNMR/Levenberg Marquardtxx.swift
testNMR/Levenberg Marquardtxx.swift
*.xcuserstate
project.xcworkspace/
xcuserdata/
